<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>ユーザー登録</title>
</head>
<body>
    <h1>ユーザー登録</h1>
    <form action="/signup" method="POST">
        <input type="hidden" name="csrf_token" value="{{$.CSRFToken}}">
        <div>名前: <input type="TEXT" name="name" /></div>
        <div>パスワード: <input type="TEXT" name="password" /></div>
        <input type="submit" value="登録"/>
    </form>
</body>
</html>